.circle
{
    width: 40vh; /*NIE UZYWAMY 'VW', ZEBY MIEC 2 ROWNE ODLEGLOSCI*/
    height: 40vh; /*W OBU PRZYPADKACH UZYWAMY 'VH', ZEBY OTRZYMAC KWADRAT*/
    background-color: white;
    border-radius: 50%;
    border-bottom: 120px solid red;
    border-left: 120px solid orange;
    border-right: 120px solid blue;
    border-top: 120px solid green;
    margin: 0 auto;
    transition: all 5s ease; /*OKRESLA JAK MA SIE WYKONAC ANIMACJA TRANSFORMACJI*/
}

.active
{
    transform: rotate(13690deg);/*STAN KONCOWY JAKI CHCEMY UZYSKAC*/
    background-color: black;
    border-bottom: 120px solid brown;
    border-left: 120px solid purple;
    border-right: 120px solid pink;
    border-top: 120px solid yellowgreen;
}

button
{
    background-color: brown;
    color: white;
    width: 200px;
    height: 30px;
    display: block;
    margin: 20px auto;
    border: none;
}